<ion-header>
    <ion-toolbar>
        <ion-title color="light">
            Deciduous Trees
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-searchbar showCancelButton="focus" placeholder="Search Tree" (ionInput)="filteredItems($event)"></ion-searchbar>
    <ion-item *ngFor="let tree of filterItems" (click)="openTree(tree)">
        <ion-avatar slot="start">
            <img [src]="tree.image">
        </ion-avatar>
        <ion-label>{{ tree.title }}</ion-label>
    </ion-item>
</ion-content>