ion-content {
    --background: url(../../assets/images/sketch-1567501545926.png) center center fixed;
    background-size: cover;
}

ion-toolbar {
    --background: url(../../assets/images/branch-conifer-green-40896.jpg) no-repeat;
}

ion-item {
    color: white;
    --background: url(../../assets/images/sketch-1567501545926.png) no-repeat;
}